@using IP_Projekt.DB.Models
@using IP_Projekt.DB.Models.Enums
@using IP_Projekt.Views.Wizyta.ViewModels
@model MojeWizytyViewModel

<div class="container-fluid">
        <div class="list-group overflow-auto">
            @{
                foreach (var wizyta in Model.wizyty)
                {
                    if (wizyta.status.Equals(statusWizytyEnum.zakonczona))
                    {
                        <a class="card list-group-item m-3 alert-danger disabled" asp-action="Wizyta" asp-controller="Wizyta" asp-route-id="@wizyta.id">
                                <div class="card-body alert-danger">
                                    @{
                                        if (Model.currentUser.Typ.Equals(user_type.pacjent))
                                        {
                                            <label>@wizyta.doctorName</label>
                                        }
                                        else if (Model.currentUser.Typ.Equals(user_type.lekarz))
                                        {
                                            <label>@wizyta.patientName</label>
                                        }
                                    }
                                </div>
                                <div class="card-body alert-danger">
                                    <label>@wizyta.data.ToString()</label>
                                </div>
                        </a>
                    }
                    else if (wizyta.data < DateTime.Now && !wizyta.status.Equals(statusWizytyEnum.zakonczona))
                    {
                        <a class="card list-group-item m-3 alert-success" asp-action="Wizyta" asp-controller="Wizyta" asp-route-id="@wizyta.id">
                                    <div class="card-body alert-success">
                                        @{
                                            if (Model.currentUser.Typ.Equals(user_type.pacjent))
                                            {
                                                <label>@wizyta.doctorName</label>
                                            }
                                            else if (Model.currentUser.Typ.Equals(user_type.lekarz))
                                            {
                                                <label>@wizyta.patientName</label>
                                            }
                                        }
                                    </div>
                                    <div class="card-body alert-success">
                                        <label>@wizyta.data.ToString()</label>
                                    </div>
                        </a>
                    }
                    else
                    {
                        <a class="card list-group-item m-3 alert-primary disabled" asp-action="Wizyta" asp-controller="Wizyta" asp-route-id="@wizyta.id">
                                        <div class="card-body alert-primary">
                                            @{
                                                if (Model.currentUser.Typ.Equals(user_type.pacjent))
                                                {
                                                    <label>@wizyta.doctorName</label>
                                                }
                                                else if (Model.currentUser.Typ.Equals(user_type.lekarz))
                                                {
                                                    <label>@wizyta.patientName</label>
                                                }
                                            }
                                        </div>
                                        <div class="card-body alert-primary">
                                            <label>@wizyta.data.ToString()</label>
                                        </div>
                        </a>
                    }
                        
                }
            }
        </div>
</div>


